<%layout('layouts/boilerplate')-%>
<div class="section h-50">
  <div class="row d-flex justify-content-center text-center">
    <%for (let i = 0; i<game.categories.length; i++) { %>
    <div class="col d-flex flex-column align-items-center">
      <h5><%= game.categories[i].name %></h5>
      <% for (let j = 0; j < game.categories[i].questions.length; j++) { %>
      <button id="category-<%=i%>-question-<%=j%>" class="mb-5 w-50"><%= game.categories[i].questions[j].points %></button>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<div class="section h-50">
    <div class="h-50">
        <div class="h-50 d-flex flex-column">
                <%for (let i = 0; i<game.categories.length; i++) { %>
                    <% for (let j = 0; j < game.categories[i].questions.length; j++) { %>
                <span class="text-center qBody" id="category-<%=i%>-qBody-<%=j%>" hidden>For <%=game.categories[i].questions[j].points%> points: <%= game.categories[i].questions[j].body%></span>
                <button class="w-25 mx-auto qAnsBtn" hidden id="category-<%=i%>-ansBtn-<%=j%>">Show Answer</button>
                <% } %> 
                <% } %> 
        </div>
        <div class="h-50">
                <%for (let i = 0; i<game.categories.length; i++) { %>
                    <% for (let j = 0; j < game.categories[i].questions.length; j++) { %>
                <span class="text-center qAns" id="category-<%=i%>-answer-<%=j%>" hidden>Answer: <%= game.categories[i].questions[j].answer%></span>
                <% } %> 
                <% } %> 
        </div>
    </div>
    <div class="h-50 d-flex">
        <div class="w-50 text-center">
            <h5 class="mb-3">Team 1</h5>
            <p id="team1-points">Points: 0</p>
            <button id="team1-add">+ (200)</button>
            <button id="team1-sub">- (200)</button>
        </div>
        <div class="w-50 text-center">
            <h5 class="mb-3">Team 2</h5>
            <p id="team2-points">Points: 0</p>
            <button id="team2-add">+ (200)</button>
            <button id="team2-sub">- (200)</button>
        </div>
    </div>
</div>
<script>
    const colIndex = <%=game.categories.length%>;
    const rowIndex = <%=game.categories[0].questions.length%>;
</script>
<script src="/javascripts/playGame.js"></script>