<% layout('layouts/boilerplate')-%>
<section class="d-flex justify-content-center align-items-center" style="height: 100%">
  <div class="card show-game text-white" >
    <div class="card-body">
      <h3 class="card-title"><b><%= game.title %></b></h3>
      <h6 class="card-subtitle mb-2">Made by: <%= game.author.username %> </h6>
      <p class="card-text">
        <ul>
            <% for (let category of game.categories){ %>
                <li><%=category.name %></li>
                <% } %>
        </ul>
      </p>
  <div class="btn-group">
    <a href="/game/<%=game._id%>/play" class="card-link btn btn-warning">Play</a>
    <% if(user && game.author.equals(user._id)){ %> 
    <a href="/game/<%=game._id%>/edit" class="card-link btn btn-info">Edit</a>
 <form action="/game/<%=game._id%>?_method=DELETE" method="POST" >
    <button class="btn btn-danger">Delete</button>
  </form>
  <% } %> 
  </div>
    </div>
  </div>
</section>
